<!DOCTYPE html>
<html lang=en>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex">
<title>{{ len .Listing }} videos</title>
<style>
 video {
  width: 100%;
  height: auto;
 }
</style>
</head>
<body>
{{ range .Listing }}
<p><video preload="none" controls
	poster="https://s3-eu-west-1.amazonaws.com/c.prazefarm.co.uk/{{ . }}.jpg"
	src="https://s3-eu-west-1.amazonaws.com/c.prazefarm.co.uk/{{ . }}.mp4">
</video></p>
{{- end }}
</body>
</html>
